* {
    padding: 0;
    margin: 0;
    --main-first-color : #7fc3c0;
    --main-second-color : #cfb845;
    --main-third-color : #141414;
  }

.bars-name{
    padding : 25px 0 10px 0;
    margin-left: 10vw;
    font-size : 6vw;
    color :var(--main-first-color);
}

.bars-img{
    display: block;
    width: 80vw;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2%;

}
.bar-footer{
    display: flex;
    flex-direction: row-reverse;
}
.link-btn>a>img{
    width: 10vw;
}

.descr-list{
    display: initial;
}

.bar-descr1, .bar-descr2{
    font-size: 3.5vw;
    border: none;
    font-weight: initial;
    margin: 0 18vw 0  18vw;
    padding: 1px;
    list-style-image: url('./Icons/beer.jpg');
}

.link-btn{
    margin-top: 5px;
    margin-right: 10vw;
    width: 10vw;
    background-color: transparent;
    border: none;
    margin-left: auto;
}

.map{
    display: none;
}

@media screen and (min-width: 793px) {
    .bars-name{
        font-size: 35px;
    }

    .bars-img{
        width: 35vw;
        height: 300px;
        margin-left: 10vw;
    }
    .bar-body{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-bottom: 20px;
    }
    .bar-footer{
        
        display: flex;
        flex-direction: column;
        margin-right: 10vw;
    }

    .link-btn{
        display: none;
        /* grid-row: 3/4;
        width: 100%; */
    }

    .descr-list{
        flex-grow: 1;
    }
    .bar-descr1, .bar-descr2{
        font-size: 1.5vw;
        margin: 0 5vw 0  5vw;
    }

    .map{
        display: initial;
        width: 550px;
        flex-grow: 2;
        border: 0;
    }
}

