/* PAGE FORMULAIRE (EVENTS)*/

.main-form {
  background-color: var(--main-background-color);
  min-height: 650px;
}

h2.events {
  text-align: center;
  padding: 20px 0;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  background-color: white;
  border: none;
  width: 80vw;
  margin: 5px auto;
  border-radius: 5%;
  height: 25px;
  box-shadow: 2px 2px 5px var(--main-third-color);
}

label {
  margin: 5px auto;
  width: 80vw;
  color: var(--main-third-color);
}

select {
  background-color: white;
  border: none;
  padding: 10px;
  width: 80vw;
  margin: 5px auto;
  box-shadow: 2px 2px 5px var(--main-third-color);
}

#eventSubmit {
  margin: 40px auto;
  padding: 10px;
  width: 200px;
  height: auto;
  color: white;
  background-color: var(--main-third-color);
}

#eventSubmit:hover {
  font-weight: bold;
  color: white;
}

/*mise en forme du paragraphe de confirmation dès qu'on clique sur le bouton submit*/
.confirmation-container {
  margin: 30px;
  padding: 10px 0;
  background-color: var(--main-background-color);
  box-shadow: 2px 2px 5px var(--main-third-color);
}

/*mise en forme du paragraphe en lui-même*/
.conf-text {
  text-align: center;
}

/*mise en forme du bouton retour lorsqu'on a soumis le formulaire*/
.button-refresh {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  background-color: var(--main-third-color);
  border: none;
  box-shadow: 2px 2px 5px var(--main-third-color);
}

@media screen and (min-width: 800px) {
  input,
  label,
  select {
    width: min(60vw, 700px);
  }

  .confirmation-container {
    width: max(50vw);
    margin: 10px auto;
  }
}
