* {
    padding: 0;
    margin: 0;
    --main-first-color : #7fc3c0;
    --main-second-color : #cfb845;
    --main-third-color : #141414;
  }

.bars-name{
    padding : 25px 0 10px 0;
    margin-left: 10vw;
    font-size : 6vw;
    color :var(--main-first-color);
}

.bars-img{
    display: block;
    width: 80vw;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2%;
}

.bars>button>a>img{
    width: 10vw;
}

.descr-list{
    display: initial;
}

.bar-descr1, .bar-descr2{
    font-size: 3.5vw;
    border: none;
    font-weight: initial;
    margin: 0 18vw 0  18vw;
    padding: 1px;
    list-style-image: url('./Icons/beer.jpg');
}
.link-btn{
    margin-top: 5px;
    margin-right: 10vw;
    width: 80vw;
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: right;
    margin-left: auto;
}
