/* CURSEUR */
body {
  cursor: url('./Icons/beer.jpg'), pointer;
}

/* PAGE FORMULAIRE (EVENTS)*/
form {
  display: flex;
  flex-direction: column;
  background-color: var(--main-background-color);
  /*box-sizing: border-box;*/
}

  /*cette id met en forme le container du paragraphe de confirmation dès qu'on clique sur le bouton submit*/
  #confirmation-container {
      margin: 20px;
      background-color: var(--main-second-color);
  }

  /* cette class met en forme le paragraphe en lui-même*/
  .conf-text {
    text-align: center;

  }
input {
  background-color: white;
  border: none;
  width: 80vw;
  margin: 5px auto;
  border-radius: 5%;
  height: 25px;
  box-shadow: 2px 2px 5px var(--main-third-color);
}

label {
  margin: 5px auto;
  width: 80vw;
  color: var(--main-third-color);
}

select {
  background-color: white;
  border: none;
  padding: 10px;
  width: 80vw;
  margin: 5px auto;
  box-shadow: 2px 2px 5px var(--main-third-color);
}

#eventSubmit {
  margin: 40px auto;
  padding: 10px;
  width: 200px;
  height: auto;
  color: white;
  background-color: red;
}

#eventSubmit:hover {
  font-weight: bold;
  color: white;
}

h2.events {
  text-align: center;
}

/*cette id met en forme le paragraphe de confirmation dès qu'on clique sur le bouton submit*/
#confirmation-container {
  margin: 20px;
  box-shadow: 2px 2px 5px var(--main-third-color);
}

/*mise en forme pour bière qui bouge avec la souris
  .cursor-beer {
    height: 40px;
    width: 40px;
    cursor: none;
    background-image: url("./Icons/beer.jpg");
    background-repeat: no-repeat;
    position: absolute;
  }*/

@media screen and (min-width: 800px) {
  input,
  label,
  select {
    width: min(60vw, 700px);
  }

  #confirmation-container {
    width: max(50vw);
    margin: 10px auto;
    
  }
}
