/* PAGE FORMULAIRE (EVENTS)*/
form {
    display: flex;
    flex-direction: column;
    /*box-sizing: border-box;*/
  
  }
  
  input {
    background-color: white;
    border: none;
    width: 90%;
    height: 25px;
    margin: 5px auto;
    box-shadow: 2px 2px 5px var(--main-third-color);
  }
  
  label {
    margin: 5px auto;
    width: 90%;
    color: var(--main-third-color);
  }
  
  select {
    background-color: white;
    border: none;
    padding: 10px;
    width: 90%;
    margin: 5px auto;
    box-shadow: 2px 2px 5px var(--main-third-color);
  }
  
  #eventSubmit {
    margin: 40px auto;
    padding: 10px;
    width: 200px;
    height: auto;
    background-color: var(--main-first-color);
  }
  
  h2.events {
    text-align: center;
  }

  /*cette id met en forme le paragraphe de confirmation dès qu'on clique sur le bouton submit*/
  #confirmation-container {
      margin: 20px;

  }