* {
  padding: 0;
  margin: 0;
  list-style: none;
  --main-first-color: #7fc3c0;
  --main-second-color: #cfb845;
  --main-third-color: #141414;
}

a {
  text-decoration: none;
}

ul {
  display: none;
}

.flag {
  width: auto;
  height: 100px;
  border-radius: 15px;
}

p {
  text-align: justify;
  padding: 15px;
}
p span {
  font-weight: bold;
}
nav li {
  border: 2px solid;
  border-radius: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 50;
  margin-right: 50;
  padding: 5px;
  font-weight: bolder;
}

.menuButton {
  border: none;
  border-radius: 15px;
  width: 100px;
  height: 100px;
}

.menuButton > img {
  width: 70%;
  height: 80%;
}

header div {
  display: flex;
  justify-content: space-between;
  background-color: var(--main-first-color);
  padding: 15px;
  border-radius: 15px;
}

#imgProduction {
  display: flex;
  border-radius: 20px;
  width: 100%;
  height: auto;
}

#imgSortOfBeer {
  display: flex;
  border-radius: 20px;
  width: 100%;
  height: auto;
}

.menuBurger {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-left: 220px;
  margin-right: 220px;
}

#pageAccueil {
  display: flex;
  flex-wrap: wrap;
  margin-left: 70px;
  margin-right: 70px;
  margin-top: 20px;
  margin-bottom: 20px;
}

footer {
  position: relative;
  border-radius: 15px;
  background-color: var(--main-first-color);
}

footer p {
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}

@media screen and (min-width: 793px) {
  ul {
    display: flex;
    justify-content: space-evenly;
  }
  .menuButton {
    visibility: hidden;
  }
  .welcome {
    font-size: 50px;
    margin-top: 25px;
  }
  #pageAccueil {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
  }

  #doYounKnow {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row: 1;
  }

  #firstParagraph {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row: 2;
  }

  #stepOfFabrication {
    grid-column-start: 2;
    grid-row: 1;
  }

  #secondParagraph {
    grid-column: 1;
    grid-row: 3;
  }
  #imgProduction {
    grid-column: 2;
    grid-row-start: 2;
    grid-row-end: 4;
    border-radius: 20px;
    width: auto;
    height: 400px;
  }

  #sortOfBeer {
    grid-column-start: 3;
    grid-row: 1;
  }

  #imgSortOfBeer {
    grid-column: 3;
    grid-row-start: 2;
    grid-row-end: 4;
    border-radius: 20px;
    width: auto;
    height: 400px;
  }
}
