html {
  margin: 0;
}
* {
  padding: 0;
  margin: 0;
  list-style: none;
}

.cards {
  height: clamp(100px, 50%, 200px);
  margin-top: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.card {
  background-color: var(--main-first-color);
  border-radius: 10px;
  width: 40%;
  margin: 3vw;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.card-img {
  border-radius: 10px 10px 0 0;
  background-size: cover;
  background-position: center;
  background-image: url("beers_pictures/Maredsous triple.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: white;
  height: 100px;
  width: 100%;
  margin-top: 1vw;
}
.card-body {
  padding: 2vw 2vW;
  height: clamp(200px, 30%, 1000px);
}

.card-header{
  height: clamp(100px, 30%, 1000px);
}

h2{
  font-size: 1.2rem;
}
  
.card-description{
font-size: 2vw;
background-color: black;
color: var(--main-second-color);
display: none;
}

.card-bitterness, .card-proof, .card-type{
  font-size: 3vw;
}

.card-title{
  font-size: 4vw;
  margin: 0px;
}

footer>p{
  margin: 0;
}

@media screen and (min-width: 800px) {
.card-description{
  display: initial;
}

}