* {
  padding: 0;
  margin: 0;
  list-style: none;
  --main-first-color: white;
  --main-second-color: #cfb845;
  --main-third-color: #141414;
  --main-backgroung-color: #f1f0f0;
  font-family: Verdana, Tahoma, sans-serif;
}

/* CURSOR BEER */
body {
  cursor: url("./Icons/beer_icon.png"), pointer;
}

a {
  text-decoration: none;
  color: var(--main-first-color);
}
#firstList,
#secondList,
#thirdList {
  background-color: var(--main-third-color);
}
#header {
  border-bottom: var(--main-third-color) 2px solid;
}
#blackFlag {
  background-image: url("./Icons/blackFlag.png");
  background-repeat: no-repeat;
  background-size: cover;
}
#yellowFlag {
  background-image: url("./Icons/yellowFlag.png");
  background-repeat: no-repeat;
  background-size: cover;
}
#redFlag {
  background-image: url("./Icons/redFlag.png");
  background-repeat: no-repeat;
  background-size: cover;
}
#beer {
  display: flex;
  text-align: center;
  flex-direction: column;
  font-weight: bolder;
  color: var(--main-third-color);
  background-color: var(--main-backgroung-color);
}
.ulHeader {
  display: none;
}
h1 {
  font-size: 25px;
}
.flag {
  width: 70px;
  height: 80px;
  border-radius: 15px;
}
.imgPageTop10 {
  display: flex;
  width: auto;
  height: auto;
  border-radius: 15px;
}
#welcome {
  margin: 10px;
  text-align: center;
  font-size: 30px;
}
#youKnow,
#stepOfFabrication,
#sortOfBeer,
#firstParagraph,
#thirdParagraph {
  text-align: center;
  padding: 20px;
  background-color: var(--main-backgroung-color);
  border-radius: 15px;
  margin-bottom: 15px;
}
#fourthParagraph {
  text-align: center;
  padding: 20px;
  border-radius: 15px;
}
p span {
  font-weight: bold;
}
nav li {
  border: 2px solid;
  border-radius: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 50;
  margin-right: 50;
  padding: 5px;
  font-weight: bolder;
}
.menuButton {
  border: none;
  border-radius: 15px;
  width: 70px;
  height: 80px;
}
.menuButton > img {
  width: 70px;
  height: 60px;
}
header div {
  display: flex;
  justify-content: space-around;
  background-color: var(--main-first-color);
  padding: 15px;
}
#imgProduction {
  display: flex;
  border-radius: 20px;
  width: 100%;
  height: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}
#imgSortOfBeer {
  display: flex;
  border-radius: 20px;
  width: 100%;
  height: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}
.menuBurger {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-size: 100%, auto;
  background-repeat: no-repeat;
  color: var(--main-first-color);
}
#pageAccueil {
  display: flex;
  flex-wrap: wrap;
  margin-left: 70px;
  margin-right: 70px;
  margin-top: 20px;
  margin-bottom: 20px;
}
footer {
  position: relative;
  border-radius: 15px;
  border-top: var(--main-third-color) 2px solid;
  background-color: var(--main-first-color);
}
footer p {
  font-size: 12px;
  font-weight: bold;
}
#fourthParagraph {
  padding-top: 15px;
}
@media screen and (min-width: 793px) {
  #firstParagraph,
  #secondParagraph,
  #thirdParagraph {
    text-align: justify;
  }
  .ulHeader {
    display: flex;
    color: var(--main-backgroung-color);
  }
  .liste {
    width: 100%;
  }
  .menuButton {
    visibility: hidden;
  }
  #welcome {
    font-size: 50px;
    vertical-align: middle;
  }
  #pageAccueil {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: 40px;
  }
  #doYouKnow {
    grid-column: 1;
    grid-row: 1;
  }
  #firstParagraph {
    grid-column: 1;
    grid-row: 2;
  }
  #secondParagraph {
    grid-column: 1;
    grid-row: 3;
  }
  #stepOfFabrication {
    grid-column: 2;
    grid-row: 1;
  }
  #imgProduction {
    grid-column: 2;
    grid-row-start: 2;
    grid-row-end: 4;
  }
  #sortOfBeer {
    grid-column: 3;
    grid-row: 1;
  }
  #imgSortOfBeer {
    grid-column: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  #thirdParagraph {
    grid-column: 3;
    grid-row: 3;
  }
}
